.rodapie__descripcion{
    color:#8C8888;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-self:center;
    margin-left: 5rem;
}

@media screen and (max-width: 768px){
    .rodapie__descripcion{
       display:none;
    }
}