.recetas{
    display:flex;
    background: #DAB997;
    flex-wrap: wrap;
    padding:5rem 0 0 5rem;
}

@media screen and (max-width: 768px){
    .recetas{
        padding: 5rem 0 0 1rem;
    }   
}