.cabecera{
    background: #f9f9f9;
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding:0 2rem;
}

@media screen and (max-width: 768px){
    .cabecera{
        padding: 0 1rem;
        justify-content:center;
    }

    .logo{
        display:none;
    }
    
}

